<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/main_head.ejs') %>
<body>
    <h1>Details of animal - <%= animal.name %></h1>
    <a href="/home">Domů</a>

    <p>Název: <%= animal.name %></p>
    <p>Druh: <%= animal.species %></p>
    <p>Popis: <%= animal.description %></p>

</body>
</html>