<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/main_head.ejs') %>
<body>
    <h1>Details of character - <%= character.name %></h1>
    <a href="/home">Domů</a>

    <p>Hráč: <b><%= character.username %></b></p>

    <p>Třída: <%= character.class %></p>
    <p>Rasa: <%= character.race %></p>
    <p>Úroveň: <%= character.level %></p>
    <p>Síla: <%= character.str %></p>
    <p>Obratnost: <%= character.dex %></p>
    <p>Inteligence: <%= character.int %></p>
    <p>Charisma: <%= character.cha %></p>
    <p>Postřeh: <%= character.con %></p>
    <p>Moudrost: <%= character.wis %></p>
    <p>Popisek: <%= character.desc %></p>
    <% if(character.campaignID){ %>
        <p>kampaň: <a href="/campaign/details/<%= character.campaignID%>"><%= character.campaignName %></a></p>
    <% } %>
    
    <a href="/character/spells/<%= character.ID %>">Schopnosti postavy</a>

    <% if(username == character.username || typeOfUser == "PJ") { %>
        <a href="/character/edit/<%= character.ID %>">Upravit atributy postavy</a><br>
        <a href="/character/del/<%= character.ID %>">Smazat postavu</a>
    <% } %>

</body>
</html>