<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/main_head.ejs') %>
<body>
    <h1>Details of character - <%= character.name %></h1>
    <a href="/home">Domů</a>

    <p>Třída: <%= character.class %></p>
    <p>Rasa: <%= character.race %></p>
    <p>Úroveň: <%= character.level %></p>
    
    <a href="/character/edit/<%= character.ID %>">Upravit atributy postavy</a>

    <h3>Schopnosti - todo</h3>

</body>
</html>