<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/main_head.ejs') %>
<body>
    <h1>Edit character - <%= character.name %></h1>
    <a href="javascript:history.back()">Zpět</a><hr>

    <form action="/character/edit/<%= character.ID %>" method="post">
        <label for="name">Jméno</label>
        <input type="text" id="name" name="name" value="<%= character.name %>" required>
        <label for="class">Třída</label>
        <input type="text" id="class" name="class" value="<%= character.class %>" required>
        <label for="race">Rasa</label>
        <input type="text" id="race" name="race" value="<%= character.race %>" required>
        <label for="level">Úroveň</label>
        <input type="number" name="level" min="0" max="100" value="<%= character.level %>" required>
        <label for="str">Síla</label>
        <input type="number" id="str" name="str" value="<%= character.str %>" required>
        <label for="dex">Obratnost</label>
        <input type="number" id="dex" name="dex" value="<%= character.dex %>" required>
        <label for="int">Inteligence</label>
        <input type="number" id="int" name="int" value="<%= character.int %>" required>
        <label for="cha">Charisma</label>
        <input type="number" id="cha" name="cha" value="<%= character.cha %>" required>
        <label for="con">Postřeh</label>
        <input type="number" id="con" name="con" value="<%= character.con %>" required>
        <label for="wis">Moudrost</label>
        <input type="number" id="wis" name="wis" value="<%= character.wis %>" required>
        <label for="desc">Popisek</label>
        <input type="textarea" id="desc" name="desc">
        <button>Uložit</button>
    </form>
    
</body>
</html>