<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/main_head.ejs') %>
<body>
    <h1>Home page - <%= typeOfUser %></h1>
    
    <nav>
        <% if(typeOfUser == 'PJ'){ %>
        <a href="/campaign/create">Vytvořit kampaň</a>
        <% } else if(typeOfUser == 'Player'){ %>
            <a href="/character/create">Vytvořit postavu</a>
        <% } %>
        <a href="/logout">Odhlásit se</a>
    </nav>

    <hr>
    <h2>Hello, <%= userName %></h2>
        <% if(kampane){ %>
            <h3>Kampaně</h3>
            <% for(var i = 0; i<kampane.length;i++){ %>
                <a href="/campaign/details/<%= kampane[i].ID %>"><h3><%= kampane[i].Nazev %></h3></a>
            <% } %>     
        <% } %>
        <% if(characters){ %>
            <h3>Postavy</h3>
            <% for(var i = 0; i<characters.length;i++){ %>
                <a href="/character/details/<%= characters[i].ID %>"><%= characters[i].name %> - lvl: <%= characters[i].level %></a>
            <% } %>
            <hr>
        <% } %>
        <% if(freeCharacters){ %>
            <% for(var i = 0; i<freeCharacters.length;i++){ %>
                <h3>Volné postavy</h3>
                <a href="/character/free/details/<%= freeCharacters[i].ID %>"><%= freeCharacters[i].name %> - lvl: <%= freeCharacters[i].level %></a>
            <% } %>
        <% } %>
</body>
</html>