<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/main_head.ejs') %>
<body>
    <h1>Home page - <%= typeOfUser %></h1>
    
    <nav>
        <a href="/campaign/create">Vytvořit kampaň</a>
        <a href="/logout">Odhlásit se</a>
    </nav>

    <hr>
    <h2>Hello, <%= userName %></h2>

    <% for(var i = 0; i<kampane.length;i++){ %>
        <a href="/campaign/details/<%= kampane[i].ID %>"><h3><%= kampane[i].Nazev %></h3></a>
        <% } %>

</body>
</html>