<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/main_head.ejs') %>
<body>
    <h1>Mapy</h1>
    <a href="/world/details/<%= worldID %>">Zpět</a><hr>
    <% if(typeOfUser == "PJ") { %>
        <a href="/world/maps/add">Přidat mapu</a><br>
    <% } %>

    <!-- Galerie map, po kliknutí se dostane uživatel do detailu mapy -->
    <% if(maps) { %>
        <% for (let i = 0; i < maps.length; i++) { %>
            <% if(maps[i].visible == 1 || typeOfUser == 'PJ') { %> 
                <% for (let i = 0; i < maps.length; i++) { %>
                    <a href="/world/maps/details/<%= maps[i].ID %>"><img src="/<%= userID %>/<%= maps[i].name %>" alt="<%= maps[i].name %>" style="max-width: 500px; max-height: 500px;"></a>
                    <% if(maps[i].visible == 0) { %>
                        <a href="/world/map/visibility/<%= maps[i].ID %>"> - zviditelnit pro všechny</a>
                    <% } else if(maps[i].visible == 1) { %>
                        <a href="/world/map/visibility/<%= maps[i].ID %>"> - skrýt pro ostatní</a>
                    <% } %>
                <% } %>
            <% } %>
        <% } %>
    <% } %>

</body>
</html>